@import '../../../assets/styles/variables.scss';

.container {
    display: flex;
    justify-content: center;
    background: $main_color;
    height: 100vh;
}

.finish {
    padding: 20px;
    width: 100%;
    max-width: 1024px;
}

.title {
    font-family: "Nunito", sans-serif;
    line-height: 0.8;
    font-weight: bold;
    font-size: 70px;
    color: $light_color;
    margin: 0;
    margin: 50px 0 0;
}

.img {
    height: 60px;
}

.subtitle {
    font-family: "Nunito", sans-serif;
    line-height: 0.8;
    font-weight: bold;
    font-size: 37px;
    color: $light_color;
    margin: 10px 0 20px;
}

.text {
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: $dark_color;
    margin: 0 0 10px;
    white-space: pre-line;
}

.link {
    position: absolute;
    bottom: 5px;
    align-items: center;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: $dark_color;
}