<app-time></app-time>

<div class="container">
    <div class="start">
        <p class="title title-margin">
            Год
            <img 
                class="img"
                src="assets/svg/cat.svg" 
                alt="cat"
            >
        </p>
        <p class="title">вместе</p>
        <p class="title2 title2-margin">проверим, как хорошо</p>
        <p class="title2">ты о нас знаешь? <mat-icon>favorite</mat-icon></p>
        <p class="subtitle">Маленький тест о нас двоих <br>(ответишь верно - в конце приз)</p>
        <button class="btn scale-up" routerLink="/first-message">Начнем! 💌</button>
    </div>
</div>